@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;

  background: #121212;
  color: white;
}

h1 {
  text-align: center;
}

.container {
  width: 60%;
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.tab-content {
  margin-top: 1rem;
}

.tab {
  padding: 0.8rem;
  width: 24%;
  cursor: pointer;
}

.book {
  border: 2px solid rgb(66, 154, 255);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 20px;
}
.book-name {
  color: rgb(66, 154, 255);
  font-size: 1.5rem;
}
.book-author {
  color: grey;
}
.book-description {
  margin-top: 1rem;
}

.tab-active {
  padding: 0.8rem;
  color: rgb(66, 154, 255);
  width: 24%;
  cursor: pointer;
  font-weight: 700;
}
